 service_account.json*
*.json
!example.json

# Environment variables and secrets
.env
*.env


# Terraform state and credentials
main.tf
*.tfvars
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Python/Virtual Environment
venv/
__pycache__/
*.pyc

# Local Data/Logs
*.log
data/